body{
    background-color:white;
}


header{
    height:20vh;
    width: 100%;
    align-items: flex-start;
    overflow: auto;
    padding-top: 1vh;
    
}

footer{
    height: 15vh;
    width: 100%;
    padding-top: 2vh;
    
}

section {
    padding-top: 25vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgb(255, 251, 194);
    height: 100vh;
    padding-bottom:22vh ;
    overflow: auto;
    
}